/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol,  blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*//////////////////////////////////////////////////////////////////////////////////////////////

  Created By: Brendan Polk // www.brendanpolk.com // for Dev Dungeon //www.devdungeon.com//

//////////////////////////////////////////////////////////////////////////////////////////////*/


/*/////////////////////////////////

  GLOBAL STYLES 

/////////////////////////////////*/

html {
  width: 100%;
}

body {
  width: 100%;
  background-color: #3b3b3b;
}

h1, h2, h3, h4, h5 {
  color: #f1f1f1;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.5em;
  line-height: 1.25em;
}

h2 {
  font-size: 2em;
  line-height: 1.75em;
}

h3 {
  font-size: 1.75em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #666;
}

p {
  color: #f1f1f1;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.5em;
}

ul, li {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight: 300;
  list-style-type: none;
  font-size: 1em;
}

a {
  color: #00fbe1;
  text-decoration: none;
}

a:hover {
  color: #f1f1f1;
}

.container {
}

/*/////////////////////////////////

  HEADER STYLES 

/////////////////////////////////*/

.header-container {
  width: 100%;
  background-color: #262626;
}

.header {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  background-color: #262626
}

.header-content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
}

.logo {
  width: 60%;
  display: inline;
  margin: 0 auto;
  padding-left: 20px;
}

.logo img {
  width: 350px;
}

.main-menu {
  width: 40%;
  float:right;
  margin: 0 auto;
  margin-top: 30px;
  display: inline-block;
  text-align: right;
}

.main-menu li {
  padding-left: 25px;
  display: inline;
  text-align: right;
}

/*/////////////////////////////////

  BODY STYLES 

/////////////////////////////////*/
.body-container {
  width: 100%;
}

.blog-post-container{
  margin-top: 50px;
}

.blog-post {
  width: 100%;
  max-width: 1170px;
  background-color: #262626;
  margin: 0 auto;
}

.blog-post-content {
  padding: 20px 20px 30px 20px;
  display: inline-block;
}

.blog-post-title {
}

.blog-post-title-text {
  max-width: 850px;
  display: inline-block;
}

.blog-post-title-date {
  width: 20%;
  float: right;
  text-align: right;
  display: inline;
  padding: 20px 50px 0px 0px;
}

.blog-post-excerpt {
  margin-top: 20px;
}

.post-meta {
  padding-top: 20px;
}

.post-meta li {
  color: #666;
  font-size: .75em;
  display: inline;
}

.read-button {
  background-color: #00fbe1;
  width: 100px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin-top: 20px;
  display: block;
}

.read-button:hover {
  background-color: #f1f1f1;
}

.read-button p {
  color: #262626;
  text-align: center;
  padding: 0px;
  font-size: 1em;
}


.alt-container {
  width: 100%;
  display: block;
  margin:0 auto;
}

.alt-content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 50px;
}

.column {
  width: 28.5%;
  background-color: #262626;
  display: inline-block;
  padding: 20px;
}

#alt-column-1 {
}

#alt-column-2 {
  margin-right: 20px;
  margin-left: 20px;
}

#alt-column-3 {
}



.ad-container {
  width: 100%;
  display: block;
  margin:0 auto;
  margin-top: 50px;
}

.ad-area {
  width: 100%;
  max-width: 1170px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF;
}

.ad-area p {
  color: #262626;
  vertical-align: middle;
}

/*/////////////////////////////////

FOOTER STYLES 

/////////////////////////////////*/
.footer-container {
  width: 100%;
  background-color: #262626;
  display: block;
  margin:0 auto;
  margin-top: 50px;
}

.footer {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer p {
  font-size: 1em;
}

.footer-column {
  width: 23%;
  display: inline-block;
  padding: 50px 20px 50px 0px;
}

.footer-title {
}

.footer-content {
}

.footer-copyright-container {
  width: 100%;
  background-color: #262626;
  display: block;
  margin:0 auto;
  border-top: 1px solid #666;
}

.footer-copyright{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 10px 0px 10px 20px;
}

.footer-copyright p {
  color: #666;
  font-size: .75em;
}



























